form{
    width: 400px;
    padding: 10px;
    background-color: rgb(116, 108, 143);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto ;
    
}
label{
    color: white;
}
input{
    width: 250px;
    height: 20px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(186, 186, 193);
    color: white;
    
}
#enviar{
    height: 20px;
    width: 60px;
    border-radius: 10px;
    background-color: rgb(209, 204, 255);
    color: black;
    border-radius: 5px;
}
p{
    height: 20px;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.titulo{
    padding-bottom: 4px;
    color: rgb(218, 217, 255);
}
.mensaje{
    color: rgb(255, 255, 255);
    position: relative;
    
}
/* El hover funciona cuando es un elemento de linea, por lo que no se puede con el input */
.texto:hover .mensaje{
    /* Aqui mostramos el mensaje con el display y hover */
    display: inline-block;
}
.mensaje{
    /* el display hace que no se muestre */
    display: none;
    position: absolute;
    background-color: rgb(4, 4, 4);
    line-height: 12px;
    /* z-index: 500; */
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    
    
    
}

