body{
    background: #f2f2f2;
    font-family: 'Times New Roman', Times, serif;


}
div{
    margin: 20px 0px;
}
.btn{
    background: #32021f;
    color: #eff7cf;
    font-size: 16px;
    text-decoration: none;
    /* Le ponemos none para que el subrayado que acompaña al enlace desaparezca */
    padding: 15px 10px;
    display: inline-block;
    margin: 0 10px;
    border-radius: 50px;
}
.small{
    font-size: 15px;
    padding: 10px 15px;
}
.medium{
    font-size: 18px;
    padding: 12px 20px;
}
.big{
    font-size: 20px;
    padding: 15px 25px;
}
.extra-big{
    font-size: 25px;
    padding: 20px 30px;
}
.btn:hover{
    opacity: .5; 
}
.verde{
    background-color: green;
}
.naranja{
    background-color: orange;
}
.azul{
    background-color: blue;
}


