@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&family=Vollkorn:ital@1&display=swap');
body{
    font-family: 'Raleway', sans-serif;

    font-size: 13px;
    text-align: justify;
}
body#principal{
    background-image: url(imagenes/fondo.png);
    background-size: 200px, 200px;
}
div.centro{
    padding-left: 10%;
    padding-right: 20%;
}
div.izquierda{
    padding-right: 90%;
    position: fixed;
}
p#notaizquierda{
    color: #000;
    font-size: small;
    padding: 10px;
    border-style: ridge;
    font-weight: bold;
    background-color: rgb(161, 178, 204);
    border-radius: 10px;
}
div.derecha{
    padding-left: 80%;
    position: fixed;
}
aside#nota1{
    padding: 5px;
    background-color: rgb(230, 189, 114);
}
section,
header{
    background-color:rgb(224, 196, 255);
    padding: 10px;
}
h1{
    font-size: large;
    color: rgb(101, 108, 138);
    background:rgb(224, 196, 255);
    text-align: center;
}
h2{
    color: rgb(104, 104, 144);
    border-bottom-color: darkslateblue;
    border-block-style: solid;
}
h3{
    color: darkblue;

}
em.termino{
    color: rgb(69, 100, 25);
}
em.propiedad{
    color: darkblue;
    font-weight: bold;
    font-style: normal;

}
em.valor{
    color: rgb(221, 255, 136);
    font-weight: bold;
    font-style: normal;
}
aside#nota2{
    padding: 5px;
    background-color: rgb(185, 207, 215);
    border-color: rgb(159, 159, 184);
    border-style: solid;
    border-width: thin;
}
p.normal:hover,
p.inicial:hover,
li.itemnivel1:hover,
header:hover,
aside:hover
{
    font-size: large;
}
p.inicial::first-letter{
    font-size: large;
    font-family: cursive;
}
p:hover,
li:hover,
header:hover{
    background-color: white;
}
img#pFlotante{
    float: inline-end;
}
/* No va permitir mover la caja respecto a su contenedor y el resto de los elemntos ignoran la nueva posición. */
.cajaPadre{
    margin: 20px;
    width: 500px;
    height: 500px;
    background-color: black;
    position: relative;
}

img#pAbsoluto{
    position: absolute;
    padding: 20px;

}
img#pRelativo{
    /* En donde  */

}
img#pAbsoluto{
    position: absolute;
    top: 20px; 
    right: 20px;
    bottom: 0;
    right: 0;
}
img#pFijo{
    position: fixed;
}
img#Centrado{
    position: center;
}
img#pPaginado{
    position: page;
    top: 200px;
    left: 200px;
    width: 300px;
    page: auto;
}
/* Relative: No va a permitir mover una caja y después  moverla desde su lugar original.*/